h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.box-wrap-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.flex-scroll {
    display: flex;
    align-items: center;
    gap: 25px;
}
.flex-scroll h4 {
    color: black;
}

.button-left {
    position: relative;
    left: 50px;
}
.button-right {
    position: relative;
    right: 50px;
}
.row-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 15px 30px 15px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 50px -10px rgba(196, 196, 196, 0.5);
    -webkit-box-shadow: 0px 0px 50px -10px rgba(196, 196, 196, 0.5);
    -moz-box-shadow: 0px 0px 50px -10px rgba(196, 196, 196, 0.5);
}
.row-post {
    display: flex;
    align-self: center;
    gap: 30px;
}
.image-team {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background: url("images/avatars/278608170a18c6d76858ed3dcaf25a1e.jpg");
    background-size: 100%, cover;
}
.image-post-1 {
    width: 32px;
    height: 32px;
    background: url("images/icons/logos_html-5.png");
    background-size: 100%, cover;
}
.image-post-2 {
    width: 32px;
    height: 32px;
    background: url("images/icons/logos_pinterest.png");
    background-size: 100%, cover;
}
.image-post-3 {
    width: 32px;
    height: 32px;
    background: url("images/icons/ri_vk-fill.png");
    background-size: 100%, cover;
}
.image-post-4 {
    width: 32px;
    height: 32px;
    background: url("images/icons/logos_css-3.png");
    background-size: 100%, cover;
}
