.row-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    background-color: #fff;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 107px -10px rgba(107, 107, 107, 0.5);
    -webkit-box-shadow: 5px 5px 107px -10px rgba(107, 107, 107, 0.5);
    -moz-box-shadow: 5px 5px 107px -10px rgba(107, 107, 107, 0.5);
    gap: 150px;
}
.row-content h1 {
    text-align: left;
    line-height: 50px;
    width: 350px;
}
.centered.second {
    align-items: flex-start;
    width: fit-content;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px rgba(107, 107, 107, 0.5);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(107, 107, 107, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(107, 107, 107, 0.5);
    gap: 25px;
}
.text-wrap.second {
    text-align: left;
}